* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*------Navbar & Header------*/

header {
    background: #99cf73;
}

.nav-item {
    font-family: 'Josefin Sans';
    font-weight: 200px;
    font-size: 27px;
    padding: 1px 0 1px 0;
}

/*------Hero Image------*/

.hero-image {
    background-image: url('/assets/images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*------Hero Image------*/

footer {
    background: #93C572;
}