* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    
}

/*------Navbar & Header------*/



.nav-item {
    font-family: 'Josefin Sans';
    font-weight: 200px;
    font-size: 27px;
    padding: 1px 0 1px 0;
    text-decoration: underline #678239;
}

/*------Hero Image------*/

.hero-image {
    background-image: url('/assets/images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.hero-image h1 {
    font-family: 'Josefin Sans';
    color: #678239;
    text-shadow: 3px 3px black;
    font-size: 90px;
}

/*------About------*/

.about h3 {
    font-family: 'Josefin Sans';
    font-size: 2rem;
    font-weight: 200px;
}

/*------Price List------*/

#prices ul {
    list-style-type: none;
    font-family: 'Montserrat';
    font-weight: 500;
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: #678239;
    margin: 0 20px 0 20px;
}


